@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-grey: #27282B;
$color-black: #201E1E;
$color-green: #55EC20;
$color-white: #EBEBEB;
$font-primary: 'Roboto';
$box-shadow: 0px 0px 4px 1px rgba(80,80,80,0.50);